.directoryContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gameBox {
	border: 1px solid black;
	margin: 8px;
	width: 200px;
	text-align: center;
	box-sizing: border-box !important;

	img {
		width: 198px;
	}
}