.streamContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.streamBox {
	width: 90%;
	height: 280px;
	margin: 8px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: 100% 100%;
	box-sizing: content-box !important;
}

.overlay {
    position: absolute;
   	background-color: black;
   	width: inherit;
   	height: inherit;
   	opacity: 0.5;
}

.channelLogo {
	width: 60px;
	height: 60px;
}

.channelBox {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 2px solid black;
	width: 80%;
	margin: 5px;
	background-color: white;
	z-index: 1;
}

.statsBox {
	display: flex;
	flex-direction: column;
}

.heartIcon {
	font-size: 30px;
	cursor: pointer;
}

.previewContainer {
	z-index: 1;
}

.previewImg {
	width: 250px;
	border: 1px solid black;
	z-index: 1;
}

.liveIcon {
	width: 16px;
	height: 16px;
	background-color: red;
	border-radius: 50%;
	position: relative;
    bottom: 140px;
    right: 110px;
    z-index: 1;

    p {
    	color: white;
    	margin-top: 20px;
    }
}