.streamContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.streamBox {
	width: 90%;
	margin: 8px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: 100% 100%;
}

.channelLogo {
	width: 60px;
	height: 60px;
}

.channelBox {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 2px solid black;
	width: 80%;
	margin: 5px;
	background-color: white;
}

.statsBox {
	display: flex;
	flex-direction: column;
}

.starIcon {
	font-size: 30px;
	cursor: pointer;
}

.previewImg {
	width: 250px;
	border: 1px solid black;
}

.liveIcon {
	width: 16px;
	height: 16px;
	background-color: red;
	border-radius: 50%;
	position: relative;
    bottom: 140px;
    right: 110px;

    p {
    	color: white;
    	margin-top: 20px;
    }
}