header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #4B367C;
	padding-bottom: 20px;
	padding-top: 20px;

	input {
		width: 30% !important;
		margin: 0 0px 8px 0 !important;
	}

	.btn {
		padding: 0 10px 0 10px;
	}

	div {
		display: flex;
	}

	.userName {
		display: flex;
		align-items: center;
		margin-right: 10px;
	}
}
