header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4B367C;
	padding-bottom: 20px;
	
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	div {
		display: flex;
		flex-direction: column;
		position: relative;
	}
}
