@import './game.scss';
@import './directory.scss';
@import './header.scss';
@import './searches.scss';
@import './notFound.scss';
@import './loginForm.scss';
@import url('https://fonts.googleapis.com/css?family=Aldrich|Ubuntu');

html, body, #root, .contentContainer {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
}

.loaderContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
