@import './game.scss';
@import './directory.scss';
@import './header.scss';
@import './searches.scss';
@import './notFound.scss';
@import './loginForm.scss';

html, body, #root, .contentContainer {
	margin: 0;
	width: 100%;
	height: 100%;
}

.loaderContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}