.loginContainer {
	height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 40px;

	form {
		width: 400px;
		border: 1px solid black;
		padding: 10px;
		box-shadow: 4px 4px 4px #666;

		p {
			text-align: center;
		}
	}
}

.btnContainer {
	display: flex;
	justify-content: center;
}