.searchesContainer {
	display: none;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    position: absolute;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid black;
    border-top: none;
    z-index: 2;
}

.searchGameContainer {
	width: 100%;
	display: flex;
	flex-direction: column; 
}

.searchGameBox {
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	img {
		width: 60px;
	}
	p {
		text-align: center;
		font-size: 18px;
		color: black;
	}

	div {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
}

.searchGameBox:hover {
	background-color: darkgray;
}

.searchChannelContainer {
	width: 100%;
	display: flex; 
	flex-direction: column;
	align-items: center;
}

.searchChannelBox {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 2px solid black;
	width: 95%;
	margin: 5px;
	background-color: white;
	z-index: 1;

	p {
		margin-top: 6px;
		margin-bottom: 6px;
	}
}

.closeIcon {
	font-size: 30px;
	margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}
