.searchesContainer {
	display: none;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    position: absolute;
    background-color: #ededed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid black;
    border-top: none;
    z-index: 2;
}

.searchGameContainer {
	width: 100%;
	display: flex;
	flex-direction: column; 
}

.searchGameBox {
	display: flex;
	align-items: center;
	border-bottom: 0.5px solid black;
	img {
		width: 60px;
	}
	p {
		color: black;
	}
}

.searchStatsContainer {
	width: 100%;
	display: flex;
	justify-content: space-around;

	div:first-child {
		width: 150px;
	}

	div:nth-child(2) {
		width: 100px
	}
}

.searchGameBox:hover {
	background-color: #e0e0e0;
}

.searchChannelContainer {
	width: 100%;
	display: flex; 
	flex-direction: column;
	align-items: center;
}

.searchChannelWrapper {
	width: 100%;
	display: flex;
	border-bottom: 0.5px solid black;

	img {
		width: 60px;
		height: 72px; 
	}
}

.searchChannelBox {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: inherit;
	z-index: 1;

	p {
		margin-top: 6px;
		margin-bottom: 6px;
		color: black;
	}
}

.searchChannelBox:hover {
	background-color: #e0e0e0;
}

.searchStatsBox {
	display: flex;
	flex-direction: column;
	width: 150px;
}
